<!DOCTYPE html>
<html>
<head>
    <title>Vendaqui - Cadastro de Anúncios</title>  
</head>

<Body>
    <div class="header" style="background-color: lightgray;
	border-radius: 10px;
    justify-content: center;
	align-items: cecnter;
	width: 400px;
	max-width: 100%;
	overflow: hidden;">
    <h3>Cadastrop de Anúncios</h3>
    </div>

    <div class="formulario" style="background-color: whitesmoke;
	border-radius: 10px;
	justify-content: center;
	align-items: cecnter;
	width: 400px;
	max-width: 100%;
	overflow: hidden;">
    <form action="cadanun" method="post">
        <p><label for="anuncio">Nome de Produto*</label></p>
        <p><input type="text" id="anuncio" name="anuncio"></p>

        <p><label for="valor">Valor*</label></p>
        <p><input type="text" id="valor" name="valor"></p>

        <p><label for="descricao">Descrição</label></p>
        <p><textarea rows="4" cols="50" id="descricao" name="descricao"></textarea></p>

        <p><label for="quantidade">Quantidade*</label></p>
        <p><input type="text" id="quantidade" name="quantidade"></p>

        <p><label for="condicao">Condição*</label></p>
        <p><input type="text" id="condicao" name="condicao"></p>

        <p><input type="submit" value="Anunciar"></p>
    </form>
    </div>
    
    <div class="aviso" style="font-size: 12px;">
        <p>*Campos Obrigatórios.</p>
    </div>  
    <footer>Copyright &copy; 2024</footer>
    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Valor</th>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Condição</th>
            </tr>
        </thead>
        <tbody>
            {%for anuncio in anuncios%}
                <tr>
                    <td>{{anuncio.nome}}</td>
                    <td>{{anuncio.valor}}</td>
                    <td>{{anuncio.desc}}</td>
                    <td>{{anuncio.qnt}}</td>
                    <td>{{anuncio.cond}}</td>
                </tr>
            {% endfor %}    
        </tbody>
    </table>
</Body>
</html>
