<!DOCTYPE html>
<html>
<head>
    <title>Vendaqui - Cadastro de Anúncios</title>    
</head>

<Body>
    <h3>Cadastrop de Anúncios</h3>
    <div>
    <form action="cadanun" method="post">
        <p><label for="anuncio">Nome de Produto</label></p>
        <p><input type="text" id="anuncio" name="anuncio"></p>

        <p><label for="valor">Valor</label></p>
        <p><input type="text" id="valor" name="valor"></p>

        <p><label for="descricao">Descrição</label></p>
        <p><input type="text" id="descricao" name="descricao"></p>

        <p><label for="quantidade">Quantidade</label></p>
        <p><input type="text" id="quantidade" name="quantidade"></p>

        <p><label for="condicao">Condição</label></p>
        <p><input type="text" id="condicao" name="condicao"></p>
        
        <p><input type="submit" value="Anunciar"></p>
    </form>
    </div>

</Body>