<!DOCTYPE html>
<html>
<head>    
    <title> Vendaqui </title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>
<body>
    <div class="container">
        <div class="header container-fluid" style="background-color: lightgray;
            border-radius: 10px;
            justify-content: center;
            align-items: cecnter;
            width: 400px;
            max-width: 100%;
            overflow: hidden;">    
            <h1> Bem vindo ao seu lugar de compra e venda de Novos e Semi-novos!</h1>
        </div>

        <div class="container-fluid" style="background-color: whitesmoke;
            border-radius: 10px;
            justify-content: center;
            align-items: cecnter;
            width: 400px;
            max-width: 100%;
            overflow: hidden;">

            <li><a href={{url_for("cadusuario")}}>Cadastro de Usuário</a></li>
            <li><a href={{url_for("cadanuncio")}}>Cadastro de Anúncios</a></li>
            <li><a href={{url_for("pergunta")}}>Perguntas</a></li>
            <li><a href={{url_for("cadcategoria")}}>Categorias</a></li>
            <li><a href={{url_for("rvendas")}}>Relatório de Vendas</a></li>
            <li><a href={{url_for("rcompras")}}>Relatório de Compras</a></li>
            <li><a href={{url_for("logout")}}>Logout</a></li>
        </div>
    </div>

</body>
</html>