<!DOCTYPE html>
<html>
<head>    
    <title> Vendaqui </title>
</head>

<body>    
    <h1> Bem vindo ao seu lugar de compra e venda de Novos e Semi-novos!</h1>
    <a href={{url_for("usuario")}}>Cadastro de Usuário</a>
    <a href={{url_for("anuncio")}}>Cadastro de Anúncios</a>
    <a href={{url_for("pergunta")}}>Perguntas</a>
    <a href={{url_for("categoria")}}>Categorias</a>
    <a href={{url_for("rvendas")}}>Relatório de Vendas</a>
    <a href={{url_for("rcompras")}}>Relatório de Compras</a>

</body>
</html>