<!DOCTYPE html>
<html>
<head>
    <title>Vendaqui - Perguntas</title> 
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>
<Body>
    
    <div class="container">
        <div class="page-header">
            <h3>Perguntas</h3>
        </div>
        <form action="perguntaanun" method="post">
            <div class="form-group">
                <label for="pergunta">Faça sua Pergunta*</label>
                <input type="pergunta" class="form-control" id="user" name="pergunta">
            </div>
            <button type="submit" class="btn btn-primary" >Perguntar</button>
            <button type="reset" class="btn btn-primary" >Limpar</button>
        </form>
        <div class="aviso" style="font-size: 12px;">
            <p>*Campos Obrigatórios.</p>
        </div>  
        <footer>Copyright &copy; 2024</footer>
    </div>
</Body>
</html>
