<!DOCTYPE html>
<html>
<head>
    <title>Vendaqui - Suas Vendas</title> 
    <link rel="stylesheet" href="../static/css/bootstrap.css">  
</head>
<Body>
    <div class="container">
        <div class="header" style="background-color: lightgray;
            border-radius: 10px;
            justify-content: center;
            align-items: cecnter;
            width: 400px;
            max-width: 100%;
            overflow: hidden;">
            <h3>Suas Vendas</h3>
        </div>
    </div>
    <div>
        
    </div>
</Body>
</html>
