<!DOCTYPE html>
<html>
<head>
    <title>Vendaqui - {{titulo}}</title>  
</head>
<Body>
    <div class="header" style="background-color: lightgray;
	border-radius: 10px;
    justify-content: center;
	align-items: cecnter;
	width: 400px;
	max-width: 100%;
	overflow: hidden;">
    <h3>{{titulo}}</h3>
    </div>
    <div class="formulario" style="background-color: whitesmoke;
	border-radius: 10px;
	justify-content: center;
	align-items: cecnter;
	width: 400px;
	max-width: 100%;
	overflow: hidden;">
    <form action="caduser" method="post">
        <p><label for="user">Nome de Usuário*</label></p>
        <p><input type="text" id="user" name="user"></p>

        <p><label for="email">E-mail*</label></p>
        <p><input type="text" id="email" name="email"></p>

        <p><label for="cpf">CPF*</label></p>
        <p><input type="text" id="cpf" name="cpf"></p>

        <p><label for="senha">Senha*</label></p>
        <p><input type="password" id="senha" name="senha"></p>

        <p><label for="end">Endereço*</label></p>
        <p><input type="text" id="end" name="end"></p>

        <p><input type="submit" value="Cadastrar"></p>
        
    </form>
    </div>
    <div class="aviso" style="font-size: 12px;">
        <p>*Campos Obrigatórios.</p>
    </div>  
    <footer>Copyright &copy; 2024</footer>

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>CPF</th>
                <th>Senha</th>
                <th>Endereço</th>
            </tr>
        </thead>
        <tbody>
            {%for usuario in usuarios%}
                <tr>
                    <td>{{usuario.nome}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.cpf}}</td>
                    <td>{{usuario.senha}}</td>
                    <td>{{usuario.end}}</td>
                </tr>
            {% endfor %}    
        </tbody>
    </table>
</Body>
</html>









</html>