<!DOCTYPE html>
<html>
<head>
    <title>Vendaqui - {{titulo}}</title> 
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>
<Body>
    <div class="page-header">
        <h3>{{titulo}}</h3>
    </div>
    <div class="container">
        <form action="caduser" method="post">
            <div class="form-group">
                <label for="user">Nome de Usuário*</label>
                <input type="text" class="form-control" id="user" name="user">
            </div>
            <div class="form-group" >    
                <label for="email">E-mail*</label>
                <input type="text" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="cpf">CPF*</label>
                <input type="text" class="form-control" id="cpf" name="cpf">
            </div>
            
            <div class="form-group">
                <label for="senha">Senha*</label>
                <input type="password" class="form-control" id="senha" name="senha">
            </div>
            <div class="form-group">
                <label for="end">Endereço*</label>
                <input type="text" class="form-control" id="end" name="end">
            </div>
            <button type="submit" class="btn btn-primary" >Cadastrar</button>
            <button type="reset" class="btn btn-primary" >Limpar</button>
            
        </form>
        <div class="aviso" style="font-size: 12px;">
        <p>*Campos Obrigatórios.</p>
        </div>  
        <footer>Copyright &copy; 2024</footer>
    </div>
    <div class="container">
        <table class="table table-responsive table-striped table-bordered">
            <thead class="thread-default">
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th><div class="aviso" style="font-size: 12px;">
                        <p>*Campos Obrigatórios.</p>
                    </div>  
                    <footer>Copyright &copy; 2024</footer>
                    <th>CPF</th>
                    <th>Senha</th>
                    <th>Endereço</th>
                    <th>Editar</th>
                    <th>Deletar</th>
                </tr>
            </thead>
            <tbody>
                {%for usuario in usuarios%}
                    <tr>
                        <td>{{usuario.nome}}</td>
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.cpf}}</td>
                        <td>{{usuario.senha}}</td>
                        <td>{{usuario.end}}</td>
                        <td><a href={{url_for("editauser", id=usuario.id)}}>Editar</a></td>
                        <td><a href={{url_for("deletauser", id=usuario.id)}}>Deletar</a></td>
                    </tr>
                {% endfor %}    
            </tbody>
        </table>
    </div>
</Body>
</html>









</html>